<div class=" container bg-orange-200 m-auto h-screen p-3">
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 md:grid-cols-2 mb-5">
    <div>
      <p class="text-3xl  tracking-widest text-center text-pink-900 font-serif font-bold">FAVD</p>
      <p class="text-base text-center italic text-blue-900 font-mono">Form Accessibility for visually impaired</p>
    </div>
    <div class=" px-8 flex justify-center items-center">
      <button (click)="showGenerator=!showGenerator" type="button"
        class="text-white bg-gradient-to-r w-full from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-base px-5 py-2.5 text-center mr-2 mb-2">{{showGenerator?'Close':'Show'}} FAVD Form Generator</button>
    </div>
  </div>

<div *ngIf="showGenerator" class="mb-2.5">
  <form-generator (onFormGenerate)="generateForm($event)"></form-generator>
</div>


<div>
  <favd-form-creator [formArray]="formArray"></favd-form-creator>
</div>

</div>